@model webClientEx2.Models.Rate

@{
    ViewData["Title"] = "Details";
}
@section head{
    <style type="text/css">
         body {
            background: rgb(2, 128, 144);
             background: linear-gradient(75deg, #04adc4 35%, #027786 35%, #01424b 75%);
        }
    </style>
}

<h1  style="color:white">Details</h1>

<div  style="color:white">
    <h4>Rating</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingNum)
        </dd>
    </dl>
</div>
<div  style="color:white">
    <a asp-action="Edit" asp-route-id="@Model?.Id"  style="color:white">Edit</a> |
    <a asp-action="Search"  style="color:white">Back to List</a>
</div>
